*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
 }

body{
    background: url(./p_Image/grn.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: right;
    z-index: 100;
}

.logo{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.top{
    display: flex;
    position: fixed;
    flex-direction: row-reverse;
}
.top a{
    position: fixed;
    display: inline-flex; 
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}
.top a:hover{
    background: #0ef;
    color: #1f242d;
    box-shadow: 0 0 20px #0ef;
}
.navbar ul{
    display: flex;
    flex-direction: row;
    align-items: right;
}
.navbar a{

    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
}
.navbar a:hover{
   color: rgb(155, 234, 248);
}
.home{
    position: relative;
    width:100%;
    justify-content: space-between;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding:70px 10% 0;
}
.home-cont{
    max-width: 600px;
}
.home-cont h3{
    font-size: 32px;
    font-weight: 700;
}
.home-cont h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}
.home-cont h3 span{
    color: rgb(155, 234, 248);
}
.home-img img{
    max-width: 350px;
    margin-right: -20px;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.social-media a:hover{
    background: #0ef;
    color: #1f242d;
    box-shadow: 0 0 20px #0ef;
}

.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    font-weight: 600;
    color:#f2f5fa;
    letter-spacing: 1px;
    text-decoration: none;
    transition: .5s;
}

@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
    
}

@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translatex(-100px);
        opacity: 0;
    }
    100%{
        transform: translatex(0);
        opacity: 1;
    }
}

.about{
    position: relative;
    width:100%;
    justify-content: space-between;
    height: 100vh;
    background: url(./p_Image/grn.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding:70px 10% 0;
}


.about img{
    height: 800px;
    width: 430px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: #fff;
    font-size: 60px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color:#0ef;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color:aliceblue;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
.skills{
    padding: 100px 0px;
    width: 100%;
    height: 100vh;
    background: url(./p_Image/grn.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.title h2{
    color: #0ef;
    font-weight: 200;
    

}
.box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}
.card{
    height: 370px;
    width: 260px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 40px;
    margin: 20px;
}
.card h5{
    color: #0ef;
    font-size: 25px;
    font-weight: 100;
}
.card p{
    color: #fff;
    font-size: 20px;
    font-weight: 100;
}
.card i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}
.contact{
    padding: 100px 0px;
    width: 100%;
    background: url(./p_Image/grn.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.contact h2{
    color: #0ef;
    font-weight: 200;
}
.cont-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}
.cont-card{
    height: 270px;
    width: 260px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 40px;
    margin: 20px;
}
.cont-card h5{
    font-size: 25px;
    font-weight: 200;
}
.cont-card i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}